<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <th:block th:replace="include/header :: header"></th:block>
</head>
<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<h2>상품등록 페이지</h2>
<form th:action="@{/products/add}" method="post" th:object="${form}">
    <div>
        <label th:for="productBrand">브랜드:</label> <!-- 텍스트로 입력하지 않고 불러오는 방법 생각하기-->
        <input type="text" th:field="*{productBrand}" >
        <div class="field-error" th:errors="*{productBrand}" />
    </div>

    <div>
        <label th:for="productName">상품 이름:</label>
        <input type="text" th:field="*{productName}" >
        <div class="field-error" th:errors="*{productName}" />
    </div>
    <div>
        <label th:for="productColor">색상:</label>
        <input type="text" th:field="*{productColor}" >
        <div class="field-error" th:errors="*{productColor}" />
    </div>
    <div>
        <label th:for="size">사이즈:</label>
        <input type="text" th:field="*{size}">
        <div class="field-error" th:errors="*{size}" />
    </div>
    <div>
        <label th:for="stockQuantity">수량:</label>
        <input type="text" th:field="*{stockQuantity}">
        <div class="field-error" th:errors="*{stockQuantity}" />
    </div>
    <div>
        <label th:for="price">가격:</label>
        <input type="text" th:field="*{price}">
        <div class="field-error" th:errors="*{price}" />
    </div>
    <button type="submit">등록</button>
</form>
<a href="#">링크</a>
</body>
</html>