<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="include/header :: header"></th:block>
<body>
<th:block th:fragment="bodyHeader">
    <div id="__nuxt">
        <div id="__layout">
            <div id="wrap" tabindex="0" class="layout_base lg has_bottom_nav wrap has_tab win_os lg" data-v-e2abb636=""
                 data-v-c8624148="">
                <div class="header-desktop" data-v-c8624148="" data-v-e2abb636="">
                    <div data-v-533cad97="" data-v-3e40d81c="" class="header fixed social">
                        <div data-v-533cad97="" class="header_top">
                            <div data-v-533cad97="" class="top_inner">
                                <ul data-v-533cad97="" class="top_list">
                                    <li data-v-533cad97="" class="top_item"><a data-v-533cad97="" href="/#" class="top_link"> 고객센터 </a></li>
                                    <li data-v-533cad97="" class="top_item"><a data-v-533cad97="" href="/member/joinMember" class="top_link"> 회원가입 </a></li>
                                    <li data-v-533cad97="" class="top_item"><a data-v-533cad97="" href="/#" class="top_link"> 관심상품 </a></li>
                                    <li data-v-533cad97="" class="top_item"><a data-v-533cad97="" href="#notifications" class="top_link"> 알림 </a></li>
                                    <li data-v-533cad97="" class="top_item"><a data-v-533cad97="" href="/member/login" class="top_link"> 로그인 </a></li>
                                </ul>
                            </div>
                        </div>
                        <div data-v-533cad97="" class="header_main">
                            <div data-v-533cad97="" class="main_inner">
                                <h1 data-v-7546c27e="" data-v-533cad97=""><a data-v-7546c27e="" href="/" aria-label="홈" class="logo">로고</a></h1>
                                <div data-v-533cad97="" class="center"></div>
                                <div data-v-533cad97="" class="right">
                                    <div data-v-3e40d81c="" class="gnb_area" data-v-533cad97="">
                                        <nav data-v-3e40d81c="" class="gnb">
                                            <ul data-v-3e40d81c="" class="gnb_list">
                                                <li data-v-83e3cb96="" data-v-3e40d81c="" class="gnb_item"><a
                                                        data-v-83e3cb96="" href="/" aria-current="page"
                                                        class="active nuxt-link-active gnb_link active"> HOME </a></li>
                                                <li data-v-83e3cb96="" data-v-3e40d81c="" class="gnb_item"><a
                                                        data-v-83e3cb96="" href="/social" class="gnb_link"> STYLE </a>
                                                </li>
                                                <li data-v-83e3cb96="" data-v-3e40d81c="" class="gnb_item"><a
                                                        data-v-83e3cb96="" href="/search" class="gnb_link"> SHOP </a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <div data-v-060bad62="" data-v-3e40d81c="" class="search_btn_box"><a
                                                data-v-060bad62="" aria-label="검색" href="#" class="btn_search"><svg
                                                data-v-060bad62="" xmlns="http://www.w3.org/2000/svg"
                                                class="nav-search icon sprite-icons">
                                            <use data-v-060bad62=""
                                                 href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-nav-search"
                                                 xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-nav-search">
                                            </use>
                                        </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-533cad97="" class="portal_target vue-portal-target">
                            <nav data-v-000bbc8a="" class="tabs">
                                <ul data-v-7fae9a20="" data-v-2830b567="" data-v-000bbc8a=""
                                    class="ul_tab home_tabs inline">
                                    <li data-v-bdefeeaa="" data-v-2830b567="" class="li_tab" data-v-7fae9a20=""><a
                                            data-v-a1a3ce98="" data-v-2830b567=""
                                            href="/exhibitions/2259?tab=home_special_tmvxcake" class="tab"
                                            data-v-bdefeeaa="" style="border-bottom-color: rgb(221, 47, 0);"><span
                                            data-v-a1a3ce98="" class="tab_name" style="color: rgb(221, 47, 0);">
                                                TMVxCAKE </span></a></li>
                                    <li data-v-bdefeeaa="" data-v-2830b567="" class="li_tab" data-v-7fae9a20=""><a
                                            data-v-a1a3ce98="" data-v-2830b567="" href="/?tab=home_recommendation"
                                            class="tab active" data-v-bdefeeaa=""><span data-v-a1a3ce98=""
                                                                                        class="tab_name"> 추천 </span></a></li>
                                    <li data-v-bdefeeaa="" data-v-2830b567="" class="li_tab" data-v-7fae9a20=""><a
                                            data-v-a1a3ce98="" data-v-2830b567="" href="/?tab=home_ranking"
                                            class="tab updated" data-v-bdefeeaa=""><span data-v-a1a3ce98=""
                                                                                         class="tab_name"> 랭킹 </span></a></li>
                                    <li data-v-bdefeeaa="" data-v-2830b567="" class="li_tab" data-v-7fae9a20=""><a
                                            data-v-a1a3ce98="" data-v-2830b567="" href="/?tab=home_luxury" class="tab"
                                            data-v-bdefeeaa=""><span data-v-a1a3ce98="" class="tab_name"> 럭셔리
                                            </span></a></li>
                                    <li data-v-bdefeeaa="" data-v-2830b567="" class="li_tab" data-v-7fae9a20=""><a
                                            data-v-a1a3ce98="" data-v-2830b567="" href="/?tab=home_men" class="tab"
                                            data-v-bdefeeaa=""><span data-v-a1a3ce98="" class="tab_name"> 남성 </span></a>
                                    </li>
                                    <li data-v-bdefeeaa="" data-v-2830b567="" class="li_tab" data-v-7fae9a20=""><a
                                            data-v-a1a3ce98="" data-v-2830b567="" href="/?tab=home_women" class="tab"
                                            data-v-bdefeeaa=""><span data-v-a1a3ce98="" class="tab_name"> 여성 </span></a>
                                    </li>
                                    <li data-v-bdefeeaa="" data-v-2830b567="" class="li_tab" data-v-7fae9a20=""><a
                                            data-v-a1a3ce98="" data-v-2830b567="" href="/?tab=home_discovery"
                                            class="tab" data-v-bdefeeaa=""><span data-v-a1a3ce98="" class="tab_name"> 발견
                                            </span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>

</html>